<div class="footer_section">
    <div class="social">
        <div class="instagram">
                <a href="https://www.instagram.com/somelook_ok" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
        <div class="facebook">
                <a href="https://www.facebook.com/olya.kotyk.1" target="_blank"><i class="fab fa-facebook-f"></i></a>
        </div>
    </div>
    <div class="made_by">
        <a href="https://github.com/VitaliyBobyk" target="_blank">made by Vitaliy Bobyk</a>
    </div>
</div>