<div class="header">    
    <div class="name_author">
        <h1>Olya Kotyk</h1>
    </div>
    <div class="navigation">
        <ul class="menu_main">
            <li class="menu_main__sections"><a href="index.html">portfolio</a></li>
            <li class="menu_main__sections"><a href="sessions.html">sessions</a></li>
            <li class="menu_main__sections"><a href="info.html">info</a></li>
            <li class="menu_main__sections"><a href="contacts.html">contacts</a</li>
            <li class="menu_main__sections"><a href="#">feedback</a></li>
        </ul>
    </div>
</div>