/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 14, ../sass/screen.scss */
.wrapper .header .name_author {
  display: flex;
  justify-content: center;
}
/* line 17, ../sass/screen.scss */
.wrapper .header .name_author h1 {
  cursor: pointer;
  padding-top: 60px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-family: "Jura", sans-serif;
  color: #9e9e9e;
  font-size: 3vw;
}
/* line 27, ../sass/screen.scss */
.wrapper .header .navigation {
  padding-top: 20px;
}
/* line 29, ../sass/screen.scss */
.wrapper .header .navigation .menu_main {
  display: flex;
  justify-content: center;
}
/* line 32, ../sass/screen.scss */
.wrapper .header .navigation .menu_main .menu_main__sections {
  margin-right: 2vw;
}
/* line 34, ../sass/screen.scss */
.wrapper .header .navigation .menu_main .menu_main__sections :hover {
  color: #bababa;
  transition: color .5s ease;
}
/* line 38, ../sass/screen.scss */
.wrapper .header .navigation .menu_main .menu_main__sections a {
  font-size: 12px;
  text-decoration: none;
  color: black;
  font-family: "Jura", sans-serif;
  letter-spacing: .1em;
}
/* line 49, ../sass/screen.scss */
.wrapper .owl-carousel {
  padding-top: 50px;
}
/* line 51, ../sass/screen.scss */
.wrapper .owl-carousel .owl-nav {
  position: relative;
}
/* line 53, ../sass/screen.scss */
.wrapper .owl-carousel .owl-nav .owl-next {
  position: absolute;
  bottom: 15vw;
  text-decoration: none;
  font-size: 5vw;
  color: black;
  right: 0vw;
  outline: none;
}
/* line 62, ../sass/screen.scss */
.wrapper .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  bottom: 15vw;
  text-decoration: none;
  font-size: 5vw;
  color: black;
  left: 0vw;
  outline: none;
}
/* line 73, ../sass/screen.scss */
.wrapper .footer_section {
  margin-top: 50px;
  background-color: #e0e0e0;
  height: 10rem;
}
/* line 77, ../sass/screen.scss */
.wrapper .footer_section .social {
  width: 10vw;
  margin: 0 auto;
  padding-top: 55px;
  align-items: center;
  display: flex;
  justify-content: space-around;
}
/* line 84, ../sass/screen.scss */
.wrapper .footer_section .social .instagram {
  height: 25px;
  border-radius: 50%;
  border: 1px solid white;
  width: 25px;
  text-align: center;
  line-height: 1.7rem;
  background-color: white;
}
/* line 92, ../sass/screen.scss */
.wrapper .footer_section .social .instagram :hover {
  color: #5ed7db;
}
/* line 95, ../sass/screen.scss */
.wrapper .footer_section .social .instagram a {
  display: block;
  text-decoration: none;
}
/* line 98, ../sass/screen.scss */
.wrapper .footer_section .social .instagram a .fab {
  color: #cff6f7;
}
/* line 103, ../sass/screen.scss */
.wrapper .footer_section .social .facebook {
  height: 25px;
  border-radius: 50%;
  border: 1px solid white;
  width: 25px;
  text-align: center;
  line-height: 1.7rem;
  background-color: white;
}
/* line 111, ../sass/screen.scss */
.wrapper .footer_section .social .facebook a {
  display: block;
  text-decoration: none;
}
/* line 114, ../sass/screen.scss */
.wrapper .footer_section .social .facebook a .fab {
  color: #cff6f7;
}
/* line 120, ../sass/screen.scss */
.wrapper .footer_section .made_by {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}
/* line 125, ../sass/screen.scss */
.wrapper .footer_section .made_by a {
  font-size: .8rem;
  font-family: "Jura", sans-serif;
  text-decoration: none;
  color: white;
}
